
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 10000;
    overflow: hidden;
  }
  
  .header {
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
  }
  
  .header h2 {
    margin: 0;
    text-align: left;
    color: rgba(0, 0, 0, 0.75);
  }

  .header img{
    width: 16px;
    height: 16px;
    padding: 4px;
  }
  .header img:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
  }
  
  .content {
    padding: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-around;
  }
  .content p{
    color: #0a66c2;
    padding: 5px;
    width: 14vw;
    border-radius: 5px;
  }
  .content p:hover{
    cursor: pointer;
    background-color: #b8d2ec;
  }
  
  .actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  .actions button{
    padding: 8px 12px;
    border-radius: 18px;
    
  }
  .cancelbtn{
    border: 1px solid #0a66c2;
    color: #0a66c2;
    margin-right: 10px;
  }
  .cancelbtn:hover{
    cursor: pointer;
    background-color:#b8d2ec;
  }

  .donebtn{
    color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }

  @media screen and (max-width: 768px) {
    .content{
        padding: 40px;
    }
    .content p{
        width: 35vw;
    }
  }