.home{
    margin-top: 10vh;
}

.home-layout{
    display: grid;
    grid-template-areas: "leftside main rightside";
    grid-template-columns: minmax(0, 5fr) minmax(0, 12fr) minmax(0, 7fr);
    column-gap: 25px;
    row-gap: 25px;
    /* grid-template-rows: auto; */
    margin: 25px 0;
}

@media screen and (max-width: 768px) {
    .home-layout{
        display: flex;
        flex-direction: column;
        padding: 0 5px;
    }
}
